<h1>Detalles del Carrito</h1>
<h4>ID del Carrito: {{cart._id}}</h4>
<h4>Productos en el Carrito:</h4>
<ul>
    {{#each cart.products}}
        <li>
            Nombre del Producto: {{this.productId.title}}, 
            Precio: {{this.productId.price}}, 
            Cantidad: {{this.quantity}}
        </li>
    {{/each}}
</ul>
       <div> <button id="finalizar-compra-button">Finalizar compra</button></div>
       <br>
<a href="/">Volver a la página de inicio</a>

<script>
    function finalizarCompra() {
        alert('Su compra se realizó correctamente');
        window.location.href = '/login';
    }
    document.getElementById('finalizar-compra-button').addEventListener('click', finalizarCompra);
</script>
