<h1>Pagina Login</h1>

<p style="color: green;">{{message}}</p>
<p style="color: red;">{{error}}</p>

<fieldset style="width: 200px; padding: 20px">
    <p>Ingresa tus datos</p>
<form method="post" action="/api/sessions/login">
    <input type="email" name="email" placeholder="Correo"/>
    <br><br>
    <input type="password" name="password" placeholder="Contrase침a"/>
    <br/>
    <button style="margin: 15px;">Iniciar sesi칩n</button>
</form>
</fieldset>
<div>
<p>Si no estas logueado Registrate Ac치!</p>
<a href="/signup">Registrarse</a>
<hr>
<a href="/forgot-password">
    Olvide mi constrase침a
</a>
</div>