<h1>Pagina Registro</h1>

<p style="color: green;">{{message}}</p>
<p style="color: red;">{{error}}</p>

<fieldset style="width: 200px; padding: 20px">
    <p>Ingresa tus datos</p>
<form method="post" action="/api/sessions/signup">
    <input type="text" name="first_name" placeholder="Nombre"/>
    <br><br>
    <input type="email" name="email" placeholder="Correo"/>
    <br><br>
    <input type="password" name="password" placeholder="Contraseña"/>
    <br/>
    <button style="margin: 15px;">Registrarse</button>
</form>
</fieldset>
<hr>
<a href="/api/sessions/signup-github">
    <button>
        Registrarse con Github
    </button>
</a>