<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
</head>
<body style="font-size: 20px;">
    <nav>
        <ul style="font-family:'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;">
        <a href="/signup">Registro</a>
        <a href="/login">Login</a>
        </ul>
        <ul>
        <a href="/">Home</a>
        <a href="/carts/65d352ef9c9061c919f07c84">Carts</a>
        <a href="/profile">Perfil</a>
        </ul>
        
    </nav>
    {{{body}}}
</body>
</html>